[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = ">=3.2.2"
numpy = ">=1.18.5"
opencv-python = ">=4.1.2"
pillow = ">=7.1.2"
pyyaml = ">=5.3.1"
requests = ">=2.23.0"
scipy = ">=1.4.1"
torch = "==1.9.1"
torchvision = "==0.10.1"
tqdm = ">=4.41.0"
tensorboard = ">=2.4.1"
pandas = ">=1.1.4"
seaborn = ">=0.11.0"
thop = "*"
streamlit = "*"
psutil = "*"
easydict = "*"
libgl1 = "*"

[dev-packages]

[requires]
python_version = "3.7"
