# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch==1.8.0
torchvision
tqdm
#opencv_contrib_python
opencv-python-headless
opencv-contrib-python-headless

# Logging -------------------------------------
tensorboard

# Plotting ------------------------------------
pandas
seaborn

thop 

# Extras -----------
streamlit
psutil
